@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --primary-color: #C4F3FD;
    --secondary-color: #725AC1;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color);
}

.hero {
    text-align: center;
    margin: 2rem 0rem 2rem 1rem;
    color: var(--secondary-color);
    font-size: 40px;


}

hr {

    background-color: var(--secondary-color);
    margin-bottom: 2rem;
    height: 1px;

}

.hero-img {
    max-width: 400px;
    display: block;
    margin: auto;
}

.instruction {
    text-align: center;
    color: var(--secondary-color);
    font-weight: bold;
    font-size: large;
}






textarea {
    width: 80%;
    height: 10vh;
    padding: 1rem;
    margin: 2rem 0rem 3rem 7rem;
    text-align: center;
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    color: var(--secondary-color);

}

#btn-translate {
    display: block;
    text-align: center;
    width: 20%;
    height: 7vh;

    font-weight: bold;
    border: solid 2px var(--secondary-color);
    border-radius: 10px;
    margin: auto;
    color: var(--secondary-color);



}

#txt-output {
    width: 80%;
    height: 10vh;
    padding: 1rem;
    margin: 3rem 0rem 3rem 7rem;
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    text-align: center;
    background-color: white;
    color: var(--secondary-color);

    font-size: large;


}

.ending {
    margin: 0rem 5rem 2rem 7rem;
    color: var(--secondary-color);
    font-weight: bold;
    font-size: large;

}